/*Fonts*/
.text-icon:after,.text-icon:before,[class*=" icon-ikea-"],[class*=" pe-7s-"],[class^=icon-ikea-],[class^=pe-7s-]{font-style:normal;font-weight:400;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
@font-face{font-family:Pe-icon-7-stroke;src:url(/ms/en_SG/css/fonts/Pe-icon-7-stroke.eot?d7yf1v);src:url(/ms/en_SG/css/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v) format('embedded-opentype'),url(/ms/en_SG/css/fonts/Pe-icon-7-stroke.woff?d7yf1v) format('woff'),url(/ms/en_SG/css/fonts/Pe-icon-7-stroke.ttf?d7yf1v) format('truetype'),url(/ms/en_SG/css/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format('svg');font-weight:400;font-style:normal}
[class*=" pe-7s-"],[class^=pe-7s-]{font-family:Pe-icon-7-stroke;speak:none;line-height:1}
.pe-7s-search:before{content:"\e618"}
.pe-7s-refresh:before{content:"\e61c"}
.text-icon:after,.text-icon:before{font-family:Pe-icon-7-stroke}
@font-face{font-family:icomoon;src:url(/ms/en_SG/css/fonts/icomoon.eot?dz34lk);src:url(/ms/en_SG/css/fonts/icomoon.eot?dz34lk#iefix) format('embedded-opentype'),url(/ms/en_SG/css/fonts/icomoon.ttf?dz34lk) format('truetype'),url(/ms/en_SG/css/fonts/icomoon.woff?dz34lk) format('woff'),url(/ms/en_SG/css/fonts/icomoon.svg?dz34lk#icomoon) format('svg');font-weight:400;font-style:normal}
[class*=" icon-ikea-"],[class^=icon-ikea-]{font-family:icomoon!important;speak:none;line-height:1}
.icon-ikea-scan-barcode:before{content:"\e937"}
.icon-ikea-arrow-down-circle:before{content:"\e92d"}
.icon-ikea-arrow-left-circle:before{content:"\e92e"}
.icon-ikea-arrow-right-circle:before{content:"\e92f"}
.icon-ikea-arrow-up-circle:before{content:"\e930"}
.icon-ikea-calendar:before{content:"\e931";color:#0051ba}
.icon-ikea-down-arrow:before{content:"\e932"}
.icon-ikea-left-arrow:before{content:"\e933"}
.icon-ikea-right-arrow:before{content:"\e934"}
.icon-ikea-up-arrow:before{content:"\e935"}
.icon-ikea-search2:before{content:"\e936";color:#5f5f5f}
.icon-ikea-shopping-list2:before{content:"\e92c";color:#0051ba}
.icon-ikea-save-to-list:before{content:"\e92a";color:#0051ba}
.icon-ikea-no-stock:before{content:"\e929";color:#0051ba}
.icon-ikea-cart:before{content:"\e928";color:#0051ba}
.icon-ikea-buy-online:before{content:"\e927";color:#0051ba}
.icon-ikea-search:before{content:"\e926"}
.icon-ikea-information:before{content:"\e92b";color:#0051ba}
.icon-ikea-delivery:before{content:"\e925";color:#0051ba}
.icon-ikea-tracking:before{content:"\e924";color:#0051ba}
.icon-ikea-shopping-bag:before{content:"\e923";color:#0051ba}
.icon-ikea-returm-policy-90:before{content:"\e922";color:#0051ba}
.icon-ikea-express-delivery:before{content:"\e921";color:#0051ba}
.icon-ikea-parcel:before{content:"\e920";color:#0051ba}
.icon-ikea-bicycle-delivery:before{content:"\e91f";color:#0051ba}
.icon-ikea-assembly:before{content:"\e900";color:#0051ba}
.icon-ikea-click-and-collect:before{content:"\e901";color:#0051ba}
.icon-ikea-finance-options:before{content:"\e902";color:#0051ba}
.icon-ikea-gift-card:before{content:"\e903";color:#0051ba}
.icon-ikea-home-planning:before{content:"\e904";color:#0051ba}
.icon-ikea-installation:before{content:"\e905";color:#0051ba}
.icon-ikea-interior-design:before{content:"\e906";color:#0051ba}
.icon-ikea-measuring:before{content:"\e907";color:#0051ba}
.icon-ikea-mobile-app:before{content:"\e908";color:#0051ba}
.icon-ikea-online-planning:before{content:"\e909";color:#0051ba}
.icon-ikea-online:before{content:"\e90a";color:#0051ba}
.icon-ikea-parcel-and-delivery:before{content:"\e90b";color:#0051ba}
.icon-ikea-picking-and-delivery:before{content:"\e90c";color:#0051ba}
.icon-ikea-picking:before{content:"\e90d";color:#0051ba}
.icon-ikea-planning:before{content:"\e90e";color:#0051ba}
.icon-ikea-price-information:before{content:"\e90f";color:#0051ba}
.icon-ikea-publications:before{content:"\e910";color:#0051ba}
.icon-ikea-recycling:before{content:"\e911";color:#0051ba}
.icon-ikea-removal-recycling:before{content:"\e912";color:#0051ba}
.icon-ikea-rent-a-trailer:before{content:"\e913";color:#0051ba}
.icon-ikea-rent-a-van:before{content:"\e914";color:#0051ba}
.icon-ikea-return-policy-365:before{content:"\e915";color:#0051ba}
.icon-ikea-return-policy:before{content:"\e916";color:#0051ba}
.icon-ikea-roof-rack:before{content:"\e917";color:#0051ba}
.icon-ikea-sewing:before{content:"\e918";color:#0051ba}
.icon-ikea-shopping-list:before{content:"\e919";color:#0051ba}
.icon-ikea-store:before{content:"\e91a";color:#0051ba}
.icon-ikea-take-home-today:before{content:"\e91b";color:#0051ba}
.icon-ikea-taxi-delivery:before{content:"\e91c";color:#0051ba}
.icon-ikea-wall-anchoring:before{content:"\e91d";color:#0051ba}
.icon-ikea-wifi:before{content:"\e91e";color:#0051ba}
/************
General
************/
body {
	font-family: Verdana;
    color: #333;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #0269ce;
}
h1 {
	font-size: 16px;
	margin: 0 0 20px;
}
.float-left {
	float:left;
	display: inline-block;
}
.float-right {
	float:right;
	display: inline-block;
}
.clear:after {
	clear:both;
	display:block;
	content: "";
	visibility: hidden;
	height: 0;
}
.blueBtn, .greyBtn {
	font-size: 12px;
	box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding:10px 20px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	height: 38px;
	vertical-align: top;
}
.blueBtn {
	background-color: #0269ce;
	color:#ffffff;
}
.greyBtn {
    background-color: #d7d7d7;
	color:#666666;
}
.blueBtn:hover, .greyBtn:hover {
    background: none;
    transition: all 0.5s ease;
    background-color: #F60;
	color:#ffffff;
}
@media all and (max-width: 830px) {
	.blueBtn, .greyBtn {
		font-size: 14px;
		padding:10px 20px;
	}
}
.blueBtn.disable, .blueBtn.disable:hover {
	background-color: #0269ce;
    opacity: .4;
    cursor: default;
	font-size: 10px;
	padding: 5px 19px;
}
@media (min-width: 1010px) {
    .blueBtn.disable, .blueBtn.disable:hover {
		padding:11px 17px;
		font-size:12px;
	}
}
@media (min-width: 876px) and (max-width: 1009px) {
    .blueBtn.disable, .blueBtn.disable:hover {
		padding:11px 10px;
		font-size:10px;
	}
}
@media (min-width: 868px) and (max-width: 875px) {
    .blueBtn.disable, .blueBtn.disable:hover {
			padding:5px 20px;
		}
}
@media (min-width: 492px) and (max-width: 767px) {
    .blueBtn.disable, .blueBtn.disable:hover {
		padding:11px 19px;
		font-size:10px
	}
}
.popup-container {
	background:#ffffff;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	position: absolute;
	transform: translate(-50%, -50%);
	top:50%;
	left: 50%;
	padding:45px 30px;
	box-sizing: border-box;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.64);
	opacity: 0;
	pointer-events: none;
}
.popup-container.show{
	transition: opacity 0.5s ease;
	opacity: 1;
	pointer-events: all;
}
.popup-container div.icon-ikea-shopping-list, .popup-container div.icon-ikea-cart {
	font-size:95px;
	margin-bottom: 10px;
}
.popup-container a {
	margin: 0 auto;
}
.popup-container a.blueBtn {
	margin-bottom: 15px;
}
#outer-container {
	max-width: 1060px;
	margin: 0 auto;
	position: relative;
}
/************
Header
************/
header {
	border: 1px solid #ebebeb;
	border-right:none;
	border-left:none;
	padding:15px;
}
.logo {
    vertical-align: middle;
    height: 52px;
    width: 149px;
    transition: all 0.5s ease;
}
.logoLink {
	display: inline-block;
	vertical-align: middle;
}
.icons-menu {
	display:inline-block;
	float:right;
	padding: 0;
	margin: 0;
	margin: 10px 0 0 0;
}
.icons-menu li {
	display: inline-block;
	font-size: 24px;
	position: relative;
	margin-left: 5px;
}
.icons-menu li a {
	color: #a7a7a7;
	display: inline-block;
}
.shopping_cart-counter{
	width: 16px;
	height: 16px;
	background-color: #ee5555;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -4px;
	line-height: 16px;
	color: #fff;
	font-size: 10px;
	text-align: center;
}
/************
Video page
************/
#container {
	position: relative;
	padding: 25px 0;
}
@media all and (max-width: 1060px) {
    #container {
		padding:25px 20px;
	}
}
#video-container {
	margin: 0;
}
#video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 20px;
	background: #808080;
}
#video-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.product-container {
	padding-right: 0;
}
.product-info-container {
	margin-bottom: 15px;
}
#product-image-container {
	position:relative;
	width: 110px;
	margin-right: 10px;
}
#product-image-container #productImg {
	margin-bottom: 20px;
	border:1px solid #cccccc;
}
@media all and (max-width: 766px) {
	#video-container, .product-container  {
		padding-right:0;
	}
}
@media all and (max-width: 360px) {	
	#product-image-container {
		min-width: 110px;
		max-width: 110px;
		width: 25%;
	}
}
.icon_elp {
	position:absolute;
	bottom:10px;
	left:8px;
	
}
.newImgCssSmall {
    background-color: #CA5008;
    font-size: 11px;
    color: #fff;
    height: 16px;
    width: auto;
    border-radius: 10px;
    padding: 2px 8px;
    font-weight: bold;
    line-height: 16px;
	position:absolute;
	bottom:15px;
	left:8px;
}
#product-details-container {
	width: 60%;
}

@media all and (max-width: 766px) {
	 #product-details-container {
		width: 73%;
	}
}
@media all and (max-width: 516px) {
	 #product-details-container {
		width: 60%;
	}
}
@media all and (max-width: 360px) {
    #product-details-container {
		width: 54%;
		max-width: 198px;
	}
}
#product-details-container .productName {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px;
}

#product-details-container .productType {
	font-size: 12px;
	margin: 0 0 5px;
}
#product-details-container .packagePrice {
	font-size: 19px;
	font-weight:bold;
	margin: 0 0 8px;
}
#product-details-container .price_bti {
    background-color: #ffcc00;
    position: relative;
    text-align: center;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(240,0,0,1);
	-moz-box-shadow: 5px 5px 0px 0px rgba(240,0,0,1);
	box-shadow: 5px 5px 0px 0px rgba(240,0,0,1);
	padding:10px 10px 3px;
	margin-bottom:5px;
	display:inline-block;
}
#product-details-container .price_bti .productType {
	font-size:11px;
}
#product-details-container .price_bti .packagePrice, #product-details-container .price_tro .packagePrice, #product-details-container .price_elp .packagePrice {
	font-size:21px;
}
#product-details-container .price_tro .packagePrice {
	color: #c00;
}
#product-details-container .price_tro .pipTroPrice {
    font-size: 11px;
    line-height: 12px;
    color: #000;
    margin-bottom: .3em;
    font-style: italic;
    text-align: left;
	font-weight: bold;
}
#product-details-container .price_tro .pipTroPrice span {
	font-weight: normal;
}
#product-details-container .price_tro .productType b:last-child {
	text-decoration: line-through;
}
#product-details-container .see-more a {
	font-size: 13px;
	text-decoration: underline;
	display:inline-block;
}
.ctas-button a:first-child {
	margin-right: 10px;
}
.ctas-button a {
	width:48%;
}


.blocker{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1050;
	display: none;
	outline: 0;
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
	background: rgba(0,0,0,0.5);
}
.blocker.show{
	display: block;
    opacity: 1;
}